<!DOCTYPE html>
<html>
<head>
  <title>Feedbook</title>
  <%= stylesheet_link_tag    "feedbook/application", media: "all" %>
  <%= javascript_include_tag "feedbook/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
